button{
    color: pink;
    background-color: rgb(117, 21, 117);
    border-radius: 15px;
    border: 1px solid cyan;
    height: 100px;
    width: 100px;
}

button:hover{
    color: bisque;
    background-color: pink;
}

button:active{
    color: white;
    background-color: red;
}